* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 1173px;
    height: 71px;
    background-color: white;

    
}

.img {
    
    padding-top: 12px;
    width: 50px;
    height: 55px;
    display: inline-block;
    margin-left: 12px;
}
