* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    all: unset;
    padding: 12px;
}

/*header*/
header {
    background-color: #ffffff;
    padding: 12px;
    margin-bottom: 55px;
}

.img {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style: none;
}




/* container */
.container {
    width: 800px;
    margin: 0 auto;
}

.container-botton {
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid #f6f8f9;
    padding: 15px 50px;

}

.container-list {
    background-color: #ffffff;
    padding: 35px 50px;
}

/* classi utili */

.bg-blu {
    background-color: #14aaf5;
}

.bg-purple {
    background-color: #ab5de6;
}

.bg-orange {
    background-color: #ff9b00;
}

.bg-pink {
    background-color: #ec4a9d;
}

.bg-green {
    background-color: #2cc6ab;
}

.bg-brown {
    background-color: #a3d116;
}



/* classi comuni */

.btn {
    border-radius: 10px;
    color: #ffffff;
}

.btn-list {
    border-radius: 20px;
    padding: 8px 11px;
    font-size: 12px;
}

.flex {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}



/*main*/

.btn-add-section {
    color: #c4cbd0;
    border: 2px solid #c4cbd0;
    padding: 11px;
}

.flag {
    width: 25px;
    height: 25px;
    border: 2px solid #2dc6ab;
    border-radius: 50%;
    padding-bottom: 5px;
    display: inline-block;
}

.green {
    color: #2dc6ab;
    padding-left: 4px;
    vertical-align: 55px;
}


.no {
    width: 25px;
    height: 25px;
    border: 2px solid #ff4444;
    border-radius: 50%;
    padding-bottom: 5px;
    display: inline-block;
}

.red {
    color: #ff4444;
    padding-left: 4px;
    vertical-align: 55px;
}